*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* navbar start  */
.container{
    width: 100%;
    height: 10%;
    background-color: rgb(17, 17, 59);
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.left a{
    color: white;
    text-decoration: none;
}
.right{
    height: 100%;
    width: 50%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search-bar{
    width: 70%;
    height: 100%;
    position: relative;
}
.search-bar img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 18px;
    right: 10px;
}
.right input{
    width: 100%;
    height: 70%;
    margin-top: 10px;
    border: 0 ;
    border-radius: 20px;
    text-indent: 15px;
    font-weight: 400;
    font-size: 20px;
}
.img{
    height: 45px;
    width: 45px;
    border: 2px solid white;
    background-image: url(https://t3.ftcdn.net/jpg/04/50/03/16/360_F_450031665_lCn9pjQ6NuTTDZMnV8G8iIfNGqYaNMnw.jpg);
    background-position: center;
    background-size: cover;
    background-color: black;
    border-radius: 50%;
    margin-right: 20px;
}
/* Navbar end */

.main{
    height: 70%;
    width: 100%;
    background-color: rgb(88, 88, 114);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.main h1{
    text-align: center;
    padding-top: 60px;
    font-size: 5rem;
}
.main h4{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}
.main .p{
    text-align: center;
    padding-top: 70px;
    height: 30%;
    width: 50%;
    /* background-color: aquamarine; */
}
.main P{
    text-align: center;
    width: 50%;
}
footer{
    height: 20%;
    width: 100%;
    background-color: rgb(102, 102, 114);
}
.box {
    height: 80%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box .first a{
    display: block;
    text-decoration: none;
    color: white;
}
p{
    text-align: center;
    padding-top: 5px;
}